.labels {
    display: flex;
    flex-direction: row;
    text-align: center;
    /* width: 90%; */


}

.labels div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: x-small;
    font-weight: bold;
    text-overflow: ellipsis;
    width: 5%;
    text-align: center;
    padding: 4px;

    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.champions {
    display: flex;
    flex-direction: column;
}
